@import '../../global/theme.scss';
@import '../../global/typography.scss';

.details {
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    @include theme() {
      color: theme(text);
    }
    font-size: $body;
    z-index: 10;
  }
  p {
    color: $primary;
    font-size: $caption;
    z-index: 10;
  }
}

.airdrop-logo {
  height: 3em;
  width: 3em;
  z-index: 10;
}