$primary: #007afe;
$text-light: #606060;
$background-light: #ffffff;
$text-dark: #f5f5f5;
$background-dark: #161616;
$rippleLight: #eeeeee;
$rippleDark: #404040;

$themes: (
  light: (
    text: $text-light,
    text1: black,
    background: $background-light,
    ripple: $rippleLight
  ),
  dark: (
    text: $text-dark,
    text1: white,
    background: $background-dark,
    ripple: $rippleDark
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
