@import '../../global/theme.scss';

$iterationCount: infinite;

[class^='circle'] {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  position: absolute;
  bottom: -40%;
  left: 50%;
  z-index: 0;

  -webkit-transition: height 0.25s ease, width 0.25s ease;
  transition: height 0.25s ease, width 0.25s ease;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[class^='circle']:before,
[class^='circle']:after {
  @include theme() {
    border: 1px solid theme(ripple);
  }
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
}

.circle1:before {
  -webkit-animation: ripple 2s linear $iterationCount;
  animation: ripple 2s linear $iterationCount;
}

.circle2:before {
  -webkit-animation: ripple 2s linear $iterationCount;
  animation: ripple 2s linear $iterationCount;
  animation-delay: 1s;
}

.circle3:before {
  -webkit-animation: ripple 2s linear $iterationCount;
  animation: ripple 2s linear $iterationCount;
  animation-delay: 0.5s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  10% {
    -webkit-transform: scale(1.2);
  }
  20% {
    -webkit-transform: scale(1.4);
  }
  30% {
    -webkit-transform: scale(1.6);
  }
  40% {
    -webkit-transform: scale(1.8);
  }
  50% {
    -webkit-transform: scale(2);
  }
  60% {
    -webkit-transform: scale(2.2);
  }
  70% {
    -webkit-transform: scale(2.4);
  }
  80% {
    -webkit-transform: scale(2.6);
  }
  90% {
    -webkit-transform: scale(2.8);
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  10% {
    -webkit-transform: scale(1.2);
  }
  20% {
    -webkit-transform: scale(1.4);
  }
  30% {
    -webkit-transform: scale(1.6);
  }
  40% {
    -webkit-transform: scale(1.8);
  }
  50% {
    -webkit-transform: scale(2);
  }
  60% {
    -webkit-transform: scale(2.2);
  }
  70% {
    -webkit-transform: scale(2.4);
  }
  80% {
    -webkit-transform: scale(2.6);
  }
  90% {
    -webkit-transform: scale(2.8);
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0;
  }
}
