@import '../../global/theme.scss';

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 100;

  .icon {
    @include theme() {
      color: theme(text1);
    }
    margin-left: 1em;
    cursor: pointer;
  }
}
